* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #A6775B;
  background-image: url(./images/wooden-background.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
}

/* --------------------> NAVIGATION */

nav {
  background-color: #745448;
  color: #d4bfb5;
  font-size: 1.5rem;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

/* --------------------> NAVIGATION */