* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #d4bfb5;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #745448;	
}

::-webkit-scrollbar-track {
	background-color: #d4bfb5;
}

body {
  background-color: #A6775B;
  background-image: url(./images/wooden-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* --------------------> NAVIGATION */

nav {
  background-color: #745448;
  font-size: 1.5rem;
  color: #d4bfb5;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  display: flex;
}

/* --------------------> NAVIGATION */

/* --------------------> HOMEPAGE LOGO */

.logo {
  width: 400px;
  margin: 8% auto;
}

.shadow {
  color: white;
  text-shadow: 2px 4px 6px #745448;
  font-family: 'Arvo', serif; 
  text-align: center;
  font-weight: bold;
  line-height: 1.1em;
  letter-spacing: 0.15rem; 
}

.script {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  position: relative;
}

.script span {
  background-color: #A6775B;
  padding: 5px;
}

.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.text1 {
  font-size: 50px;
}

.text2 {
  font-size: 65px;
}

.text3 {
  font-size: 45px;
}

/* --------------------> HOMEPAGE LOGO */