* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #A6775B;
  background-image: url(./images/wooden-background.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
}

nav {
  background-color: #745448;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 5px;
}